<ion-card color="dark">

    <ion-card-header>
        <ion-card-subtitle>
            <span class="text-primary">{{ posicion }}. </span>
            <span class="noticia-source-name">{{ noticia.source.name }}</span>

            <div class="noticia-more">
                <ion-button (click)="lanzarMenu()" fill="clear">
                    <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-card-subtitle>
        <ion-card-title (click)="abrirNoticia()">{{ noticia.title }}</ion-card-title>
    </ion-card-header>

    <img (click)="abrirNoticia()" *ngIf="noticia.urlToImage" [src]="noticia.urlToImage" class="animated fadeIn fast">

    <ion-card-content>
        {{ noticia.description }}
    </ion-card-content>

</ion-card>